[submodule "3rdparty/freeglut"]
	path = 3rdparty/freeglut
	url = https://gitlab.com/redist/freeglut-redist.git
[submodule "3rdparty/openal"]
	path = 3rdparty/openal
url=https://gitlab.com/redist/openal-redist.git
[submodule "libs"]
	path = libs
	url = https://github.com/reallyslickscreensavers/rslibs.git
	branch = master
[submodule "3rdparty/GL"]
	path = 3rdparty/GL
	url = https://github.com/reallyslickscreensavers/opengl-headers.git
